/* ==Edurne Reddit CSS Theme v.5.6 - (http://www.reddit.com/r/edurne/)== */

/* BEGIN GENERAL */

body { position:relative; font-family:arial, helvetica, sans-serif; }
body > .content {
    overflow:hidden;
}
.md p { font-family:Verdana, arial, sans-serif; padding:1px 0; }


.link .usertext .md,.usertext table.markhelp,.btn .login-form-side,.infobar,#search,#search input[type=text],
.link,#header-bottom-right #userbarToggle,.linkinfo,textarea,.rounded,.sidecontentbox .content {
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    -o-border-radius:2px;
    -ms-border-radius:2px;
    -khtml-border-radius:2px;
    border-radius:2px;
}

/* END GENERAL */

/* Submission Page Custom Text */
#text-desc.infobar,#link-desc.infobar {
    display:background-color:#fff !important;padding:0;margin:0;font-size:0;border:0;text-indent:-10000px;
}
.submit_text.roundfield.enabled  {
    background-color: #f6e69f;
    border-color: #ffa500;
    border-style: solid;
    border-width: 1px;
    font-size: small;
    margin: 5px 305px 5px 0px;
    padding: 5px 10px;
}

/* BEGIN HEADER */
#sr-header-area {
    background-color:#afafaf;
    text-transform:lowercase;
    border-bottom:2px solid #9E9E9E;
    font-size:100%;
    font-family:Verdana, arial, sans-serif;
    color:#FFFFFF;
}

#sr-header-area a { color:#54708b; }
body.res-nightmode #header { border-color: #DDF; }
body.res-nightmode #header .tabmenu li:not(.selected) a { color: #346; }
#header .tabmenu li.selected a { border: 0; border-bottom: 1px solid #FFF; }
#header .tabmenu li:not(.selected):hover a { background-color: #449EF8; color: #FFF; }
body.res-nightmode #header .tabmenu li { background-color: #DDD !important; }
body.res-nightmode #header .tabmenu li:not(.selected):hover a { background-color: #CCC; color: #444; }
#header-img { margin:8px 20px 0; }
.pagename { margin-right:25px; font-weight:bold; font-variant:normal; font-size:18px; }
body.res-nightmode .pagename a { font-size: 18px !important; }
#sr-header-area .dropdown.srdrop, #sr-header-area#srLeftContainer { padding-left:21px; }
#sr-more-link, #header #sr-header-area #RESShortcutsEditContainer, #header #sr-header-area #RESShortcutsRight, #header #sr-header-area #RESShortcutsLeft, 
#header #sr-header-area #RESShortcutsAdd, #header #sr-header-area #RESShortcutsTrash { background-color:#c6daed; }
body.res-nightmode #sr-header-area, body.res-nightmode #sr-more-link { background-color: #c6daed !important; }
#sr-header-area #RESShortcutsEditContainer, #sr-more-link { border-right:20px solid #c6daed; font-weight:bolder; }

#header-bottom-right {
    right:29px;
    background-color:#B8D1E7;
    -moz-border-radius:0;
    -webkit-border-radius:0;
    -o-border-radius:0;
    -ms-border-radius:0;
    -khtml-border-radius:0;
    border-radius:0;
    z-index: 100; 
}
body.res-nightmode #header-bottom-right { background-color: #DEEAF6 !important; }
#header-bottom-right.res-navTop { top: 21px !important; }

#header-bottom-right.res-navTop #userbarToggle {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
}
#header-bottom-right #userbarToggle {
    font-family:"Courier New", Courier, monospace;
    font-size:12px;
}
#header-bottom-right #userbarToggle {
    font-family:"Courier New", Courier, monospace;
    font-size:12px;
    width:14px;
    padding-right:4px;
    -moz-border-radius-bottomleft:0;
    -moz-border-radius-bottomright:0;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    -webkit-border-bottom-left-radius:0;
    -webkit-border-bottom-right-radius:0;
}

/* END HEADER */


/* BEGIN SIDEBAR */

/* search */
.side #search {
    border:1px solid #eaeaea;
    padding:10px;
    margin-top:20px;
    background-color:#FAFAFA;
}
body.res-nightmode #search {
    background-color: #AAA;
    border-color: #BBB;
}
#search input[type=text] {
    width:280px;
    border:1px solid #DBDADA;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    -o-border-radius:2px;
    -ms-border-radius:2px;
    -khtml-border-radius:2px;
    border-radius:2px;
    font-size:14px;
    font-style:italic;
    padding:4px;
}

/* side */
.side { margin: 0 20px; }
/*.side .md { overflow:hidden; }*/
.titlebox { padding:0 10px; }
.titlebox .bottom { display:none; }
.side .titlebox > h1 { font-size:34px; letter-spacing: -1px;}
.linkinfo { padding:15px; border:none; background-color:#CEE3F8; }
body.res-nightmode .side .redditname a { color: #DDD !important; }
.sidebox.submit .spacer, .sidebox.create { display:none; }
.linkinfo .score .word,.linkinfo .score .number { font-size:15px; }
.sidecontentbox .content { border:1px solid #EAEAEA; background-color:#FAFAFA; padding:10px; }
.icon-menu li { margin:0 0 5px; }
.side h1, .side h2, .side h3 {color: #222;}
.side h1 {font-size: 19px;}
.side h2 {font-size: 16px;}
.side h3 {font-size: 14px;}

body.res-nightmode .login-form-side {
    background-color: #111 !important;
    color: #DDD !important;
    border: 1px solid #DDD !important;
}

body.res-nightmode .login-form-side #remember-me label { color: #DDD !important; }
body.res-nightmode .login-form-side #remember-me input { width: auto !important; margin-left: 6px; }
body.res-nightmode .side .login-form-side .submit { padding: 4px; background-color: transparent; }
body.res-nightmode .side .login-form-side .submit .btn { margin: auto; }

/* submit */
.sidebox.submit { width:300px; }
body.res-nightmode .sidebox { padding-left: 0 !important; }
body.res-nightmode .sidebox.submit { background-image: none !important; }

body.res-nightmode .sidebox.submit .nub {
    background: #222;
    border-left: 24px solid #393939;
}
body.res-nightmode .sidebox, body.res-nightmode .subredditbox, body.res-nightmode .subreddit-info, body.res-nightmode .raisedbox, body.res-nightmode .login-form-side {
    border: 0 !important;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}
body.res-nightmode .sidebox.submit .morelink a { color: #DDD !important; }
body.res-nightmode .sidebox.submit:hover { background-color: #444 !important; }
body.res-nightmode .sidebox.submit:hover .nub { border-left-color: #444; }

.morelink,.morelink:hover,.side a[href*='/#btn'] {
    font-weight:normal;
    letter-spacing:0;
    background:#449EF8;
    border: none;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    -o-border-radius:2px;
    -ms-border-radius:2px;
    -khtml-border-radius:2px;
    border-radius:2px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}

.morelink a,.morelink a:hover { color:#FFF; font-family:Verdana, Arial, sans-serif; font-size:16px; }
.morelink .nub,.morelink:hover .nub {
    top: 0;
    right: -25px;
    height: 0;
    width: 0;
    background: white;
    border: 24px solid #449EF8;
    border-top-width: 15px;
    border-top-color: transparent;
    border-bottom-width: 15px;
    border-bottom-color: transparent;
    border-right-color: transparent;
}

.morelink:hover .nub { border-left-color: #56A6F7 }
.disabled .morelink a,.disabled .morelink a:hover { cursor:default; color:#AAA; }
.morelink:hover { background-color:#56a6f7; border-color:#56a6f7; }
.disabled .morelink,.disabled .morelink:hover { background:#f5f5f5; border-color:#f5f5f5; }
.disabled .morelink .nub,.disabled .morelink:hover .nub { background:url(%%sprites-05%%) 0 0 no-repeat transparent; border-color:#f5f5f5; }

/* END SIDEBAR */


/* BEGIN CONTENT */

/* main content */
.sitetable { font-family:verdana, arial, helvetica, sans-serif; clear:left;}
.infobar { overflow:hidden; margin:0 0 10px; }
.content { margin:20px 0 0 20px; }

.link {
    overflow:hidden;
    margin:0px;
    padding:5px;
    border:1px solid #EAEAEA;
    background-color:#FAFAFA;
}
body.res-nightmode .sitetable .thing.link, body.res-nightmode div#siteTable div[onclick="click_thing(this)"] {
    border: 1px solid #4c4c4c !important;
    background-color: #333 !important;
}
body.res-nightmode .sitetable .thing.link .keyHighlight {
    background-color: #363636 !important;
    border-color: #666 !important;
    outline-color: #666 !important;
}
body.res-nightmode .midcol {
    background-color: #222 !important;
    padding: 4px;
}

.link .rank { display:none; }
.link.last-clicked { border:1px dashed #EAEAEA; }
body.res-nightmode .link.last-clicked { border-color: #666; }
.linklisting > .clearleft { margin:5px; }
.entry .buttons li { display:inline; float:left; }
.link .midcol { margin-right:10px; margin-left:0; }

/* main comments */
.commentarea { margin-top:10px; }
.link.self .usertext-body .md p,.comment .usertext-body .md p { line-height:1.3em; }
.link .usertext .md { padding:5px 10px; }
.panestack-title { border:none; margin:0; padding:0; }
.panestack-title .title { float:left; font-size:11px; color:#888; margin:0; }
.commentarea .menuarea { font-size:11px; margin:0; }
.panestack-title:after { content:'-'; padding:0 5px; float:left; }
.commentarea > .usertext { clear:left; margin:0; }
.usertext-edit { width:auto; }
.usertext-edit textarea { width:430px; padding:10px; }
.usertext .bottom-area { width:450px; }
.usertext button { margin:5px 5px 10px 0; border:none; min-width:70px; }
body.res-nightmode .usertext .help-toggle { background-color:#DDD; }
.usertext .help-toggle a { color:#FFF; }
body.res-nightmode .usertext .help-toggle a { color:#444 !important; }
.usertext table.markhelp { width:450px; font-size:11px; }
.link .usertext .md { background-color:#FFF; border:1px solid #EAEAEA; }
.entry .buttons li a { font-family:verdana, arial, sans-serif; }

.usertext .help-toggle {
    background-color:#999;
    border:none;
    color:#FFF;
    padding:6px;
    margin:5px 0;
    font-size:13px;
}

/* END CONTENT */



/* BEGIN MODERATOR SPECIFIC */

/* stylesheet tweaks */
.stylesheet-customize-container { width: 100%; }
#subreddit_stylesheet { display: block; overflow: hidden; padding-right: 80px; }
.sheets { margin: 0; }

#stylesheet_contents {
    font-family: Consolas, Monaco, monospace;
    padding: 12px;
    background-color: #222;
    color: #ace;
    border: 8px solid #222;
}
body.res-nightmode #stylesheet_contents {
    background-color: #111;
    border-color: #111;
}

/* END MODERATOR SPECIFIC */



/* BEGIN MISC STYLING */

/* tables */
.md table { border: 1px solid #ccc; font-family: Arial, Helvetica, Sans-serif; margin: 10px 0px; }
body.res-nightmode .md table { border-color: #666; }
.side .md table { width:100%; }
.md table * { border: 0; }
body.res-nightmode .md table * { color: #ddd; }
.md table th { text-align: center; }
.md table tr:nth-child(even), .md table thead { background-color: #f6f6f6; }
body.res-nightmode .md table tr:nth-child(even), body.res-nightmode .md table thead { background-color: #444; }
.md table td, .md table th { border-right: 1px solid #ccc; padding: 4px 8px; }
body.res-nightmode .md table td, body.res-nightmode .md table th { border-color: #666; }
body:not(.res-nightmode) .md table tbody { color: #444; }

/* lists */
.md > ul, .md > ol { border-left: 4px solid #ccc; }
body.res-nightmode .md > ul, body.res-nightmode .md > ol { border-color: #666; }

.md ul, .md ol {
    margin: 10px 0px;
    padding : 6px 6px 6px 20px;
    background-color: #fff;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    -o-border-radius:2px;
    -ms-border-radius:2px;
    -khtml-border-radius:2px;
    border-radius:2px;
}

body.res-nightmode .md ul, body.res-nightmode .md ol { background-color: #444; }
.md ul { list-style: disc outside; }
.md ol {
  list-style : decimal outside none;
  padding-left : 30px
}

.md ul li, .md ol li {
    padding: 4px 8px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    -o-border-radius:2px;
    -ms-border-radius:2px;
    -khtml-border-radius:2px;
    border-radius:2px;
}

.md ul li ul, .md ol li ol { margin: 8px 4px; }
.md ul li:nth-child(odd), .md ol li:nth-child(odd) { background-color: #f6f6f6; }
body.res-nightmode .md ul li:nth-child(odd), body.res-nightmode .md ol li:nth-child(odd) { background-color: #222; }

/* boxes */
.side blockquote + hr {
    border-width:0;
    width:0;
    background-color:transparent;
    margin:20px 0 0;
}
body.res-nightmode .side hr {
    border: 0 !important;
    border-bottom: 1px solid #000 !important;
}
.side blockquote {
    border:0 none;
    padding:15px;
    margin:0;
    border:1px solid #CCC;
    background-color:#F5F5F5;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    -o-border-radius:2px;
    -ms-border-radius:2px;
    -khtml-border-radius:2px;
    border-radius:2px;
}

.side h4, .side h5, .side h6 { height:0; }
.side blockquote h1 ~ p { margin-left:21px; }
.side blockquote h1 { background-color: transparent !important; margin-bottom: 15px; }
.side blockquote pre, .side blockquote code { color: #222 !important; }
.side h6 + blockquote p, .side h5 + blockquote p, .side h4 + blockquote p { color: #000; }
.side h6 + blockquote a, .side h5 + blockquote a, .side h4 + blockquote a { color: #369; }
.side .spacer .md h1, .side .spacer .md h2, .side .spacer .md h3 { background: transparent !important; }
.side blockquote + p,.side p + blockquote,.side p + h4,.side p + h5,.side p + h6 { margin-top:15px; }
body.res-nightmode .side blockquote h1, body.res-nightmode .side blockquote h1 a { color: #EEE !important; }
body.res-nightmode .side h4+blockquote,body.res-nightmode .side h5+blockquote,body.res-nightmode .side h6+blockquote { background-color: #111; }

/* colors */
.md h4 + table { border-color: #9EF886; }
.md h4 + table td, .md h4 + table th { border-right-color: #9EF886; }
.md h4 + table tr:nth-child(even), .md h4 + table thead { background-color: #E9FFE6; }
.md h5 + table { border-color: #F4F225; }
.md h5 + table td, .md h5 + table th { border-right-color: #F4F225; }
.md h5 + table tr:nth-child(even), .md h5 + table thead { background-color: #FFFFE6; }
.md h6 + table { border-color: #FF9185; }
.md h6 + table td, .md h6 + table th { border-right-color: #FF9185; }
.md h6 + table tr:nth-child(even), .md h6 + table thead { background-color: #FEF0F0; }

.md h4 + ul, .md h4 + ol { border-left-color: #9EF886; }
.md h4 + ul li:nth-child(odd), .md h4 + ol li:nth-child(odd) { background-color: #E9FFE6; }
.md h5 + ul, .md h5 + ol { border-left-color: #F4F225; }
.md h5 + ul li:nth-child(odd), .md h5 + ol li:nth-child(odd) { background-color: #FFFFE6; }
.md h6 + ul, .md h6 + ol { border-left-color: #FF9185; }
.md h6 + ul li:nth-child(odd), .md h6 + ol li:nth-child(odd) { background-color: #FEF0F0; }

.side h6 + blockquote { display:block; background-color:#FEF0F0; border:1px solid #FF9185; }
.side h5 + blockquote { display:block; background-color:#FFFFE6; border:1px solid #F4F225; }
.side h4 + blockquote { display:block; background-color:#E9FFE6; border:1px solid #9EF886; }

body.res-nightmode .md h4 + table { border-color: #9EF886; }
body.res-nightmode .md h4 + table td, body.res-nightmode .md h4 + table th { border-right-color: #9EF886; }
body.res-nightmode .md h4 + table tr:nth-child(even), body.res-nightmode .md h4 + table thead { background-color: #207807; }
body.res-nightmode .md h5 + table { border-color: #F4F225; }
body.res-nightmode .md h5 + table td, body.res-nightmode .md h5 + table th { border-right-color: #F4F225; }
body.res-nightmode .md h5 + table tr:nth-child(even), body.res-nightmode .md h5 + table thead { background-color: #626105; }
body.res-nightmode .md h6 + table { border-color: #FF9185; }
body.res-nightmode .md h6 + table td, body.res-nightmode .md h6 + table th { border-right-color: #FF9185; }
body.res-nightmode .md h6 + table tr:nth-child(even), body.res-nightmode .md h6 + table thead { background-color: #670808; }

body.res-nightmode .md h4 + ul, body.res-nightmode .md h4 + ol { border-left-color: #9EF886; }
body.res-nightmode .md h4 + ul li:nth-child(odd), body.res-nightmode .md h4 + ol li:nth-child(odd) { background-color: #207807; }
body.res-nightmode .md h5 + ul, body.res-nightmode .md h5 + ol { border-left-color: #F4F225; }
body.res-nightmode .md h5 + ul li:nth-child(odd), body.res-nightmode .md h5 + ol li:nth-child(odd) { background-color: #626105; }
body.res-nightmode .md h6 + ul, body.res-nightmode .md h6 + ol { border-left-color: #FF9185; }
body.res-nightmode .md h6 + ul li:nth-child(odd), body.res-nightmode .md h6 + ol li:nth-child(odd) { background-color: #670808; }

/* buttons */
.btn, button, .side a[href*='/#btn'] {
    background-color:#449EF8;
    border:none;
    color:#FFF;
    padding:6px;
    margin:5px 5px 5px 0;
    cursor:pointer;
    font-size:13px;
    font-family:arial,helvetica,sans-serif;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    -o-border-radius:2px;
    -ms-border-radius:2px;
    -khtml-border-radius:2px;
    border-radius:2px;
}
.side a[href*='/#btn'] {
    text-align: center;
    display: block;
    width: auto;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 29px;
    margin:10px 0px;
}

body.res-nightmode .btn, body.res-nightmode button, 
body.res-nightmode .side a[href*='/#btn'] { color: #444 !important; background-color: #CCC !important; }
.btn a { color:#FFF; }
body.res-nightmode .btn a { color: #444 !important; }
.btn:hover,button:hover,.side a[href*='/#btn']:hover { background-color:#56a6f7; border-color:#56a6f7; }
body.res-nightmode .btn:hover, body.res-nightmode button:hover, 
body.res-nightmode .side a[href*='/#btn']:hover { background-color:#DDD !important; border-color:#DDD; }

/* code styling */
.usertext-body pre {
    margin:10px 0;
    padding:10px;
    color: #222 !important;
}
.usertext-body pre, .usertext-body p > code {
    background:#f7f7f7;
    border:1px solid #ccc;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    -o-border-radius:2px;
    -ms-border-radius:2px;
    -khtml-border-radius:2px;
    border-radius:2px;
    font-size:11px;
    color: #222 !important;
    overflow: auto;
}
.usertext-body code {
    color: #222 !important;
    font-family:Consolas, Monaco, monospace;
    line-height:1.5em;
}
.usertext-body p > code {
    padding:0 3px;
    color: #222 !important;
}

/* mobile-friendly spoiler tags (credit /u/listen2) */
a[href='#s'] {
    font-size:0;
    visibility:hidden;
    cursor:default;
    display:inline-block;
}
a[href='#s']::after {
    content:attr(title);
    background:#cee3f8;
    color:#cee3f8;
    font-size:small;
    visibility:visible;
}
body.res-nightmode a[href='#s']::after {
    content:attr(title);
    background:#666;
    color:#666;
    font-size:small;
    visibility:visible;
}
a[href='#s']:hover::after,a[href='#s']:active::after {
    color:#000;
    background:transparent;
    text-decoration:none;
    font-size:small;
}
body.res-nightmode a[href='#s']:hover::after, body.res-nightmode a[href='#s']:active::after {
    color:#DDD;
    background:transparent;
    text-decoration:none;
    font-size:small;
}

/* sidebar icons */
.side a[href*='#icon-'] { color:#000; cursor:default; }
.side a[href*='#icon-']:hover { text-decoration:none; }
.side a[href*='#icon-']::before {
    display:inline-block;
    height:16px; width:16px;
    content:'';
    margin:0 5px -1px 0;
    background: url(%%sprites-05%%) 30px 30px no-repeat;
}

.side a[href='#icon-exclamation']::before   {background-position: -16px -32px;}
.side a[href='#icon-information']::before   {background-position: -54px -51px;}
.side a[href='#icon-lightbulb']::before     {background-position: -16px -51px;}
.side a[href='#icon-comments']::before      {background-position: -35px -89px;}
.side a[href='#icon-unhappy']::before       {background-position: -73px -89px;}
.side a[href='#icon-check']::before         {background-position: -73px -51px;}
.side a[href='#icon-clock']::before         {background-position: -35px -51px;}
.side a[href='#icon-cross']::before         {background-position: -35px -70px;}
.side a[href='#icon-smile']::before         {background-position: -54px -89px;}
.side a[href='#icon-error']::before         {background-position: -54px -32px;}
.side a[href='#icon-note']::before          {background-position: -54px -70px;}
.side a[href='#icon-star']::before          {background-position: -73px -32px;}
.side a[href='#icon-help']::before          {background-position: -16px -70px;}
.side a[href='#icon-time']::before          {background-position: -73px -70px;}
.side a[href='#icon-bell']::before          {background-position: -35px -32px;}
.side a[href='#icon-eye']::before           {background-position: -16px -89px;}

/* END MISC STYLING */


/* SUBREDDIT-SPECIFIC STYLES - add your own styles below without modifying the code above.*/


#sr-more-link, #header #sr-header-area #RESShortcutsEditContainer, #header #sr-header-area #RESShortcutsRight, #header #sr-header-area #RESShortcutsLeft, #header #sr-header-area #RESShortcutsAdd, #header #sr-header-area #RESShortcutsTrash
{
  background-color:#AFAFAF;
}

#sr-header-area #RESShortcutsEditContainer, #sr-more-link
{
  border-right:#afafaf;
}



#sr-header-area .selected a
{
  font-weight: bold;
  color: #ffaf00;
}

.sr-bar a, .dropdown.srdrop .selected 
{
  color: #fff;
}

#sr-header-area a
{
  background-color:#AFAFAF;
  color:#fff;
}

.pagename a
{
  background-image:url(%%btclogo%%);
  padding: 55px 350px 0 0;
  font-size:0px;
  background-repeat:no-repeat;
  display: block;
  position: absolute;
  left:185px;
  top: 71px;
  z-index: 9; 
}

#header 
{
  background-image: url(%%gradient-ext%%);
  background-repeat: repeat-x;
  border-bottom:1px solid #828282;
  background-color:#FFFFFF;
}

#header-img 
{
  margin-top: 0px;
  margin-right: 5px;
  margin-left: 0px;
}

#header-bottom-left
{
  height: 94px;
  background-image: url(%%btcbg-gradient%%);
  background-repeat: no-repeat;
}

.pagename
{
  font-size:0px;
}

.hover pagename redditname
{
  display:none;
}

body.res-nightmode .pagename a
{
  font-size:0px !important;
}

.tabmenu {

  display:block;
  position:absolute;
  left:400px;
  top:95px;
  z-index:100;
}

ul.tabmenu.formtab
{
  margin-top:2px;
  margin-left:-20px;
}

.morelink, .morelink:hover
{
color:#000;
background:#dcdcdc;
}

.morelink a, .morelink a:hover
{
color:#000;
}

.morelink .nub, .morelink:hover .nub
{
border:none;
}

/* Flairs customization - BitcoinXio & 3xploit & SouperNerd  */
.flair {
    background-color:transparent;
    background: url(%%spritesheet-01%%) no-repeat -9999px;
    width: 16px;
    height: 16px;
    border: 0;
    padding: 0px;
    text-indent:-9999px;
    white-space:nowrap;
    border: none !important;
    vertical-align: text-bottom;

}

.flair-btcauthor {
    width: 16px;
    height: 16px;
    background-position: -2px -2px;
}

.flair-btcbusiness {
    width: 16px;
    height: 16px;
    background-position: -22px -2px;
}

.flair-btccharity {
    width: 16px;
    height: 16px;
    background-position: -42px -2px;
}

.flair-btcdev {
    width: 16px;
    height: 16px;
    background-position: -62px -2px;
}

.flair-btcdigestfrench {
    width: 16px;
    height: 16px;
    background-position: -2px -22px;
}

.flair-btcexchange {
    width: 16px;
    height: 16px;
    background-position: -22px -22px;
}

.flair-btclogo {
    width: 16px;
    height: 16px;
    background-position: -42px -22px;
}

.flair-btcmadhat {
    width: 16px;
    height: 16px;
    background-position: -62px -22px;
}

.flair-btcmanapot {
    width: 16px;
    height: 16px;
    background-position: -2px -42px;
}

.flair-btcminer {
    width: 16px;
    height: 16px;
    background-position: -22px -42px;
}

.flair-btcmod {
    width: 16px;
    height: 16px;
    background-position: -42px -42px;
}

.flair-btcmod2 {
    width: 16px;
    height: 16px;
    background-position: -62px -42px;
}

.flair-btcnews {
    width: 16px;
    height: 16px;
    background-position: -2px -62px;
}

.flair-btcresearch {
    width: 16px;
    height: 16px;
    background-position: -22px -62px;
}

.flair-btcresist {
    width: 16px;
    height: 16px;
    background-position: -42px -62px;
}

.flair-btcsmiley {
    width: 16px;
    height: 16px;
    background-position: -62px -62px;
}

.flair-btcstartup {
    width: 16px;
    height: 16px;
    background-position: -82px -2px;
}

.flair-btcsupercontributor {
    width: 16px;
    height: 16px;
    background-position: -82px -22px;
}

.flair-btctx {
    width: 16px;
    height: 16px;
    background-position: -82px -42px;
}

.flair-btcvlog {
    width: 16px;
    height: 16px;
    background-position: -82px -62px;
}

.flair-btcwallet {
    width: 16px;
    height: 16px;
    background-position: -2px -82px;
}

.flair-btcwizard {
    width: 16px;
    height: 16px;
    background-position: -22px -82px;
}

.flair:hover {
    transform: rotate(-360deg); 
    transition: transform .5s ease-in-out;
}

/* BitcoinXio, 3xploit Flair do not remove */
.flair-btclogo:hover{
    background-color:transparent;
    background:url("%%spritesheet-01%%") no-repeat;
    width:16px;
    height:16px;
    background-position: -22px -82px;
    border:0;
    padding:0px;
    text-indent:-9999px;
    white-space:nowrap;
    border:none!important;
    vertical-align:text-bottom;
    transform:rotate(-360deg);
    transition:transform .5s ease-in-out;
}

.flair-reward {
    background-color:transparent;
    background: url(%%trophy%%) no-repeat -9999px;
    width: 16px;
    height: 16px;
    border: 0;
    padding: 0px;
    text-indent:-9999px;
    white-space:nowrap;
    border: none !important;
    vertical-align: text-bottom;
}

.flair-reward {
    width: 16px;
    height: 16px;
    background-position:0% 0%;
}


/*End Flair*/

/*Link Flair*/
.linkflairlabel {
    border:1px solid #F7931A; 
    color:#f48709;
}

/*Changes the name of your subscribers/users here now*/
.titlebox .word { display: none }
.titlebox .number:after { content: " Subscribers"; }
.titlebox .users-online span.number:after { content: " Users here now"; }


/*Changing the word moderators on top of the list of moderators box*/  
.sidecontentbox .helplink + .title h1 { font-size: 0}
.sidecontentbox .helplink + .title h1:before { font-size: small; content: "Moderators" }


/*Start Sidebar Title*/
.titlebox h1{
    visibility: hidden;
}

.titlebox h1:after{
    margin-left: -48px;
    font-style: italic;
    font-family: verdana;
    color: #323232;
    font-size: 28px;
    content:"r/btc";
    visibility: visible;

}
/*End Sidebar Title*/


.edited-timestamp[title]:after {
    content: " (" attr(title) ")";
    font-size: 90%;
}


/*Start Post Icons*/
.thumbnail.default {
    background:url(%%spritesheet-02%%);
    width: 70px;
    height: 66px;
    background-position: -76px -2px;
}

.thumbnail.self {
    background:url(%%spritesheet-02%%);
    width: 70px;
    height: 50px;
    background-position: -2px -2px;
}
/*End Post Icons*/

/* Transactions Icon for Block Explorers */
.md a[href*="blockchain.info"], .md a[href*="walletexplorer.com"], .md a[href*="btc.blockr.io"], .md a[href*="biteasy.com"], .md a[href*="btc.blockr.io"], .md a[href*="blocktrail.com/BTC"], .md a[href*="btc.blockr.io"], .md a[href*="insight.bitpay.com"], .md a[href*="tradeblock.com/bitcoin"]
{
    padding-left:20px;
    background-image:url(%%spritesheet-01%%);
    background-repeat:no-repeat;
    background-position: -82px -42px;
}

/*RANDOM QUOTES*/

/* Random quote container */
/*input[name=uh] ~ a:before {
    position: absolute;
    top: 30px;
    right: 0;
    margin-right: calc(99vw - 47px);
    font-size: 10.5px;
    background: #efefef url(%%quoteimg%%) no-repeat;
    color: #000000;
    border-radius: 2px;
    border: 1px solid #dbdbdb;
    width: calc(100vw - 389px);
    padding: 0 10px 0 0;
    line-height: 30px;
    text-indent: 35px;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    pointer-events: none;
    white-space: nowrap;
    overflow: hidden;
}

.res-navTop input[name=uh] ~ a:before { top: 100px; }

input[name=uh][value^="0"] ~ a:before {
    content: "''I think bitcoin's a technical tour de force.'' - Bill Gates"}
input[name=uh][value^="1"] ~ a:before {
    content: "''It will be everywhere and the world will have to readjust. World Governments will have to readjust.'' - John Mcafee"}
input[name=uh][value^="2"] ~ a:before {
    content: "''Bitcoin actually has the balance and incentives right, and that is why it is starting to take off.'' - Julian Assange"}
input[name=uh][value^="3"] ~ a:before {
    content: "''A currency without a government, something necessary and imperative.'' - Nassim Taleb"}
input[name=uh][value^="4"] ~ a:before {
    content: "''We have elected to put our money and faith in a mathematical framework free of politics and human error.'' - Tyler Winklevoss"}
input[name=uh][value^="5"] ~ a:before {
    content: "''I'm a big fan of Bitcoin... Regulation of money supply need to be depoliticised'' - Al Gore"}
input[name=uh][value^="6"] ~ a:before {
    content: "''May hold long-term promise, particularly if the innovations promote a faster, more secure and more efficient payment system.'' - Ben Bernanke"}
input[name=uh][value^="7"] ~ a:before {
    content: "''It's money 2.0, a huge huge huge deal.'' - Chamath Palihapitiya"}
input[name=uh][value^="8"] ~ a:before {
    content: "''The ability to create something that is not duplicable in the digital world has enormous value'' - Eric Schmidt"}
input[name=uh][value^="9"] ~ a:before {
    content: "''You do need some kind of alternative and Bitcoin fits the bill. I'm not surprised to see that happening.'' - Jim Rickards"}
input[name=uh][value^="a"] ~ a:before {
    content: "''Bitcoin may be the TCP/IP of money.'' - Paul Bucheit"}
input[name=uh][value^="b"] ~ a:before {
    content: "''Bitcoin will do to banks what email did to the postal industry.'' - Rick Falkvinge"}
input[name=uh][value^="c"] ~ a:before {
    content: "''Right now Bitcoin feels like the internet before the browser.'' - Wences Casares"}
input[name=uh][value^="d"] ~ a:before {
    content: "''Biggest things of potentially reducing the power of state and uplifting the power of the individual to happen for... forever maybe.'' - Zander Marz"}
input[name=uh][value^="e"] ~ a:before {
    content: "''Will be a disrupter to the traditional notions of currency. In the end, currency will be better for it.'' - Edmund Moy"}
input[name=uh][value^="f"] ~ a:before {
    content: "''[Pre-Bitcoin] The one thing that’s missing but that will soon be developed, is a reliable e-cash.'' - Milton Friedman"}
input[name=uh][value^="g"] ~ a:before {
    content: "''A free and uncensored network where all can participate with equal access.'' - Amir Taaki"}
input[name=uh][value^="h"] ~ a:before {
    content: "''Why does Bitcoin have value? And the answer is very easy. Because it is useful and scarce.'' - Erik Voorhees"}
input[name=uh][value^="i"] ~ a:before {
    content: "''I do think Bitcoin is the first [encrypted money] that has the potential to do something like change the world.'' - Peter Thiel"}
input[name=uh][value^="j"] ~ a:before {
    content: "''The ability to create something that is not duplicable in the digital world has enormous value.'' - Eric Schmidt"}
input[name=uh][value^="k"] ~ a:before {
    content: "''I think that government should stay out of them and they should be perfectly legal.'' - Ron Paul"}
input[name=uh][value^="l"] ~ a:before {
    content: "''Every informed person needs to know about Bitcoin because it might be one of the world’s most important developments.'' - Leon Luow"}
input[name=uh][value^="m"] ~ a:before {
    content: "''Bitcoin is the most important invention in the history of the world since the Internet.'' - Roger Ver"}
input[name=uh][value^="n"] ~ a:before {
    content: "''So bitcoin is cyber snob currency…'' - William Shatner"}
input[name=uh][value^="o"] ~ a:before {
    content: "''I didn’t understand how that could be done, and then I looked into it and it was brilliant.'' -  Jeff Garzik"}
input[name=uh][value^="p"] ~ a:before {
    content: "''Bitcoin enables certain uses that are very unique. I think it offers possibilities that no other currency allows.'' - Pieter Wuille"}
input[name=uh][value^="q"] ~ a:before {
    content: "''It’s gold for nerds.'' - Stephen Colbert"}
input[name=uh][value^="r"] ~ a:before {
    content: "''The coming years will be a period of great drama and excitement revolving around this new technology.'' - Marc Andreessen"}
input[name=uh][value^="s"] ~ a:before {
    content: "''There are more people in the world who need a currency they can trust than there are people in the world who can trust their currency.'' - Wences Casares"}
input[name=uh][value^="t"] ~ a:before {
    content: "''You can’t stop things like Bitcoin … It’s like trying to stop gunpowder.'' - John Mcafee"}
input[name=uh][value^="u"] ~ a:before {
    content: "''I’m a big fan of Bitcoin … Regulation of money supply needs to be depoliticized.'' - Al Gore"}
input[name=uh][value^="v"] ~ a:before {
    content: "''We can try to use words to help the situation until code gets there.'' - Satoshi Nakamoto"}
input[name=uh][value^="w"] ~ a:before {
    content: "''I've been working on a new electronic cash system that's fully peer-to-peer, with no trusted third party.'' - Satoshi Nakamoto"}
input[name=uh][value^="x"] ~ a:before {
    content: "''I’m sure that in 20 years there will either be very large transaction volume or no volume.'' - Satoshi Nakamoto"}
input[name=uh][value^="y"] ~ a:before {
    content: "''Lost coins only make everyone else’s coins worth slightly more. Think of it as a donation to everyone.'' - Satoshi Nakamoto"}
input[name=uh][value^="z"] ~ a:before {
    content: "''The result is a distributed system with no single point of failure.'' - Satoshi Nakamoto"}
*/
